/* высоста изображений строго 460px, ширина - 925px */
.tutoring {
	background-image: url("~@/assets/images/tutoring.png");
}

.formMedods {
	background: url(~@/assets/images/formMedods.png);
}

.simonGame {
	background: url("~@/assets/images/simonGame.png");
}

.insane {
	background: url(~@/assets/images/insane.png);
}

.glo3d {
	background: url(~@/assets/images/3dglo.png);
}

.glo-project1 {
	background: url(~@/assets/images/glo_project1.png);
}

.scandi {
	background: url(~@/assets/images/scandi.png);
}

.logitech {
	background: url(~@/assets/images/logitech.png);
	background-position: center;
}
.summer-trip {
	background: url(~@/assets/images/summer_trip.png);
}

.your-house {
	background: url(~@/assets/images/your_house.png);
	background-position: center;
}

.odysseum {
	background: url(~@/assets/images/Odysseum.png);
	background-position: center;
	background-position-y: 1px;
}

.photoshop {
	background: url(~@/assets/images/Photoshop.png) no-repeat;
	width: 925px;
	background-position: center;
	background-position-y: -2px;
}